sycl-gtx/Debug/
Debug/
*.sdf
*.suo
*.opensdf
Release/
*.vsp
*.vspx
*.stackdump
*.ppm
*.o
ComputeCpp/sycl/SYCL/
ComputeCpp/sycl/sycl_export.h
ComputeCpp/sycl/sycl_export_link.h
*.a
*.sycl
*.opendb
*.db
build/
.vscode/
compile_commands.json
